@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
:root{
  --main-color:#ea1821;
  --backgroun-color:#1b1d1c;
  --extra-color:#c4c393;


}
.border{
  border: 2px solid var(--extra-color);
}
i{
  color: var(--main-color);
}
h1,h2,h3,h4,h5{
  color: var(--main-color);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--extra-color);
  background-color: var(--backgroun-color);
}
.container {
  width: 80%;
  margin: 0 auto;
}
.hero i:hover{
color: var(--extra-color);
transition: .3s;
}
a,p,.btn{
  color: var(--extra-color);
}
a {
  text-decoration: none;
}
nav a {
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 25px;
  letter-spacing: 1px;
}
li {
  list-style: none;
}
nav li {
  font-size: 2rem;
}
nav li:hover {
  font-weight: 700;
  transition: 0.1s;
}
.logo {
  margin-right: auto;
  font-weight: 400;
  font-size: 2.5rem;
}

.hero {
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 120px;
}
.portrait {
  width: 500px;
  background-color: var(--main-color);
  height: 500px;
  border-radius: 50%;
}
.portrait img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: auto;
}

.portrait-info p {
  font-size: 1.2rem;
  font-weight: 600;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
.btn {
  padding: 15px 20px;
  border-radius: 25px;
  margin-right: 20px;
  font-weight: 700;
  font-size: 1.1rem;
  background-color: var(--backgroun-color);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--extra-color);
  color: var(--backgroun-color);
  transition: 0.3s;
}
.reverse-btn {
  background-color: var(--extra-color);
  color: var(--backgroun-color);
  transition: 0.3s;
}

.reverse-btn:hover {
  color: var(--extra-color);
  background-color: var(--backgroun-color);
}
.links {
  display: flex;
  justify-content: center;
  width: 50%;

  margin: 30px auto 0;
}
i {
  padding:16px 20px;
}

/* About hero */
.about-me {
  padding: 100px 0;
}
.mini-header {
  text-align: center;
}
h3 {
  font-size: 3rem;
  margin-top: 0;
}

.img-about {
  width: 350px;
}
.about-hero img {
  width: 100%;
}
.about-hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-info {
  width: 60%;
}
.square {
  border-radius: 30px;
}

.box {

  width: 40%;
  text-align: center;
  margin: 25px 10px;
  padding: 25px;
  display: inline-block;
}
.box ul {
  display: block;
  padding: 0;
}
.box li {
  list-style: none;
}
.box h4 {
  margin: 0;
}

/* Hero experience */
h4 {
  text-align: center;
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 700;
}
.experience {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}
.experience-box {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-box ul {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(3, 50px);
  gap: 20px;
  font-weight: 700;
}
.experience-box li {
  font-weight: 600;
}

/* projects hero */
.hero-projects {
  padding: 100px 0;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.projects-box img:hover {
  transition: 0.5s;
  filter: grayscale(0);
  transform: scale(2.3);
  position: relative;
}
.projects-box {
  max-width: 400px;
  height: 400px;

  padding: 15px;
  text-align: center;
  position: relative;
  margin: 10px 0;
}
.projects-box img {
  width: 100%;
  filter: grayscale(1);
  z-index: 1;
  transition: 0.5s;
}
.hero-projects a {
  padding: 15px 35px;

  width: 25%;
}
h5 {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Contact me hero */

.contact-hero {
  padding: 100px 0;
}

.contact-form {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;

  padding: 25px;
  font-size: 1.5rem;
  font-weight: 600;
}

footer{
padding: 100px 0 0 40px;
}
.footer{
  text-align: center;
}

footer a {
  cursor: pointer;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 25px;
  letter-spacing: 1px;
}
footer li {
  font-size: 2rem;
}
footer li:hover {
  font-weight: 700;
  transition: 0.1s;
}